<!-- home.ejs , syed omer ahmed , 301286227 -->

<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <header><%- include('partials/_nav') %></header>

    <main>
      <img src="/images/profile.jpeg" alt="My Image" />
      <h1>Hello! I am Syed Omer Ahmed</h1>
      <h2>Welcome to My Portfolio</h2>
      <p>
        Welcome to my portfolio! I am delighted to have you here, and I'm
        excited to showcase my work and accomplishments. This collection
        represents the culmination of my skills, creativity, and dedication in
        web development. Whether you're an employer, colleague, or simply an
        enthusiast, I invite you to explore the projects, designs, and ideas
        that I have brought to life. Within these pages, you'll find a diverse
        range of my work, including this portfolio website. Each piece has been
        carefully crafted with passion and attention to detail, reflecting my
        commitment to delivering excellence. I believe that the strength of a
        portfolio lies not only in the final outcomes but also in the process
        and thinking that goes behind them. As you delve into my projects, I
        hope you'll discover my ability to think critically, problem-solve, and
        create innovative solutions. I have always been driven by a relentless
        desire to learn and grow, and this portfolio is a testament to that
        journey. It represents the milestones I've achieved, the lessons I've
        learned, and the continuous improvement that I strive for. I embrace
        challenges and opportunities with enthusiasm, always seeking new ways to
        push boundaries and contribute meaningfully to my field. Thank you for
        taking the time to explore my portfolio. I hope it inspires and sparks a
        connection with my work. If you have any questions or would like to
        discuss potential collaborations, please don't hesitate to reach out. I
        look forward to engaging with you and sharing my passion for [mention
        relevant field or industry]. Once again, welcome, and enjoy your
        exploration of my portfolio!
      </p>
    </main>

    <footer><p>&copy; 2023 Syed Omer Ahmed. All rights reserved.</p></footer>
  </body>
</html>
