<!-- services.ejs , syed omer ahmed , 301286227 -->

<!DOCTYPE html>
<html>
  <head>
    <title>Services</title>
    <link rel="stylesheet" href="/css/services.css" />
  </head>
  <body>
    <header><%- include('partials/_nav') %></header>

    <main>
      <h1>Services</h1>

      <div class="service">
        <img src="/images/python.jpeg" alt="Service 1" />
        <h3>Python programming</h3>
        <p>
          My Python Services is a specialized service provider offering
          individualized solutions in Python programming. As a solo
          practitioner, I bring extensive expertise and experience in Python
          development to meet your specific needs. From web development to data
          analysis, machine learning, automation, and script development, I
          offer a comprehensive range of services to help you achieve your
          goals. With a focus on delivering high-quality solutions, I work
          closely with clients to understand their requirements, provide
          personalized guidance, and develop efficient and scalable Python
          applications. By leveraging the power and flexibility of Python, I aim
          to empower you with the tools and capabilities necessary to succeed in
          your projects and endeavors.
        </p>
      </div>

      <div class="service">
        <img src="/images/java.png" alt="Service 2" />
        <h3>Java</h3>
        <p>
          My Java Services is a specialized service provider offering customized
          solutions in Java programming. With a deep understanding of Java's
          versatility and robustness, we provide a wide range of services to
          cater to your specific requirements. From developing enterprise-level
          applications to designing scalable and efficient solutions, our
          expertise covers various domains such as web development, mobile app
          development, software engineering, and system integration. We excel in
          utilizing Java's extensive libraries, frameworks, and tools to deliver
          high-quality and reliable solutions. Our team of skilled Java
          developers works closely with clients to understand their needs,
          provide expert guidance, and develop tailored solutions that meet
          their business objectives. With a strong commitment to delivering
          excellence, My Java Services is dedicated to helping you harness the
          power of Java to drive innovation and achieve success in your
          projects.
        </p>
      </div>
    </main>

    <footer><p>&copy; 2023 Syed Omer Ahmed. All rights reserved.</p></footer>
  </body>
</html>
